<% if comentario.try(:id) %>
  <dl class="dl-horizontal">
    <dt>Titulo:</dt>
    <dd><%= comentario.titulo %></dd>
    <dt>Texto:</dt>
    <dd><%= comentario.texto %></dd>
    <dt>Autor:</dt>
    <dd><%= comentario.usuario.try(:nome) %></dd>
    <% if comentario.usuario == current_usuario || current_usuario.admin %>
      <dd>
        <%= link_to 'Edit', edit_produto_comentario_path(@produto, comentario) %>
        <%= link_to 'Destroy', [@produto, comentario], method: :delete, data: {confirm: 'Are you sure?'} %>
        <%= form_with(model: [comentario, comentario.comentarios.build], html: {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group">
            <%= f.label :titulo, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :titulo, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :texto, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :texto, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </dd>
      <dd>
        <%= render comentario.comentarios %>
      </dd>
    <% end %>
  </dl>
<% end %>
