<div class="page-header">
  <% if criando? %>
    <%= link_to produtos_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Continuar comprando
    <% end %>
  <% end %>
  <h1>Show pedido</h1>
</div>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd><%= @pedido.status %></dd>
  <%= render @pedido.items %>
</dl>

<% if criando? %>
  <%= button_to 'Fechar pedido', pedido_path(pedido: {status: :efetuado}),
                class: 'btn btn-success', method: :put %>
<% elsif cancelar? %>
  <%= button_to 'Cancelar pedido', pedido_path(pedido: {status: :cancelado}),
                class: 'btn btn-danger', method: :put %>
<% end %>