<%= form_for(@produto, html: {class: "form-horizontal", role: "form"}) do |f| %>

  <%= render "devise/shared/error_messages", resource: @produto %>

  <div class="form-group">
    <%= f.label :codigo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :codigo, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nome, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :marca, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :marca, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quantidade_estoque, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :quantidade_estoque, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :preco, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :preco, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit id: 'cadastrar', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
