<div class="page-header">
  <%= link_to produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_usuario.try(:admin?) %>
    <%= link_to edit_produto_path(@produto), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <% if current_usuario %>
    <%= link_to "Create comentario", new_produto_comentario_path(@produto), class: 'btn btn-primary', id: 'create-comentario' %>
  <% end %>
  <h1>Produto</h1>
</div>
<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @produto.codigo %></dd>
  <dt>Nome:</dt>
  <dd><%= @produto.nome %></dd>
  <dt>Marca:</dt>
  <dd><%= @produto.marca %></dd>
  <dt>Quantidade estoque:</dt>
  <dd><%= @produto.quantidade_estoque %></dd>
  <dt>Preço:</dt>
  <dd><%= @produto.preco %></dd>
</dl>
<div class="page-header">
  <h1>Show comentarios</h1>
</div>

<%= render @produto.comentarios %>
